<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.webServer>

        <handlers>
           
		<add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python38\python.exe|c:\users\administrator\appdata\local\programs\python\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        
	</handlers>

		<security> 
			
			<requestFiltering allowDoubleEscaping="true"></requestFiltering>
 
		</security>
 
    </system.webServer>

	<appSettings>

		<!-- Required settings -->

		<add key="WSGI_HANDLER" value="test.app" />

		<add key="PYTHONPATH" value="~/" />

	</appSettings>

</configuration>
